python-dotenv
asyncio
nest_asyncio
datasets
pandas
streamlit
streamlit-feedback
ragas
langchain
langchainhub
langchain-community
langchain-anthropic
langchain-fireworks
langchain-openai
openai
langchain-google-vertexai
langchain-google-community
langchain-cohere
langchain-mistralai
langchain-together
nltk
Markdown
pytesseract
pypdf
PyPDF2
PyMuPDF
docx2txt
unstructured[all-docs]
html2text
playwright
youtube-transcript-api
arxiv
pytube
pandoc
beautifulsoup4
duckduckgo-search
faiss-cpu
huggingface-hub
accelerate
torch
sentence-transformers
sentencepiece
transformers
langdetect
pycountry
gpt-researcher
flash-attn