python-dotenv
asyncio
nest_asyncio
numpy
datasets
pandas
streamlit
streamlit-feedback
ragas
langchain
langchainhub
langsmith
langchain-community
langchain-anthropic
langchain-fireworks
langchain-openai
langchain-huggingface
openai
langchain-google-vertexai
langchain-google-community
langchain-cohere
langchain-mistralai
langchain-together
langchain-groq
nltk
Markdown
pytesseract
pypdf
PyPDF2
PyMuPDF
docx2txt
unstructured[all-docs]
html2text
playwright
youtube-transcript-api
arxiv
pytube
pandoc
beautifulsoup4
crcmod
google-crc32c
duckduckgo-search
faiss-cpu
huggingface-hub
accelerate
torch
sentence-transformers
sentencepiece
transformers
langdetect
pycountry
gpt-researcher
